<!DOCTYPE html>
<html>
  <head>
    <title>Create component by using template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <h3>Create component by using template</h3>

    <div id="app">
      <my-com></my-com>
    </div>

    <script>
      // 全局注册创建的myCom组件
      // 用template及script标签构建的组件，第二个参数就为 模板字符串——注册语法糖
      // 在需要调用组件的地方写上组件名字的标签即可  <my-com></my-com>
      Vue.component('myCom', {
        template: '<div>This is a VUE component. (写在 component 的第二个参数中)</div>'
      });

      var app = new Vue({
        el: '#app'
      });
    </script>
  </body>
</html>
