<!DOCTYPE html>
<html>
  <head>
    <title>Create component by using the attribute components of Vue</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <h3>Create component by using the attribute components of Vue</h3>
    
    <div id="app">
      <!-- 调用组件 -->
      <my-com></my-com>
    </div>

    <script type="text/x-template" id="myCom">
      <div>This is a VUE component. (只能在注册该组件的实例中使用4 - script)</div>
    </script>

    <script>
      var app = new Vue({
        el: '#app',
        // 注册语法糖
        components: {
          'myCom': {
            template: '#myCom'
          }
        }
      });
    </script>
  </body>
</html>
