<!DOCTYPE html>
<html>
  <head>
    <title>Local registration of parent-child components</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <h3>Local registration of parent-child components</h3>

    <div id="app">
      <parent></parent>
    </div>

    <script>
      var child = Vue.extend({
        template: '<div>这是子组件</div>'
      });

      var parent = Vue.extend({
        template: '<div>这是父组件 - 局部注册 <child></child></div>',
        components: {
          'child': child
        }
      });

      var app = new Vue({
        el: '#app',
        components: {
          parent: parent
        }
      });
    </script>
  </body>
</html>
